:root {
  --neutral-100: hsl(100, 4%, 95%);
  --neutral-200: hsl(100, 4%, 90%);
  --neutral-300: hsl(100, 4%, 85%);
  --neutral-400: hsl(100, 4%, 80%);
  --neutral-500: hsl(100, 4%, 70%);
  --neutral-550: hsl(100, 4%, 65%);
  --neutral-600: hsl(100, 4%, 60%);
  --neutral-700: hsl(100, 4%, 50%);
}
html,
body {
  margin: 0px;
  padding: 0px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-300);
  height: 100vh;
}
nav.sidebar {
  width: 12vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-300);
  border-right: var(--neutral-500) solid 1px;
  align-items: center;

  .nav-item {
    font-size: 18px;
  }
}

.topbar {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--neutral-500);
  margin: 0;
  padding: 1em;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
}

.topbar__nav-item__dropdown-container {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-200);
  border: var(--neutral-300) 2px ridge;
  position: absolute;
  top: 2.5em;
  right: 2em;
  padding: 0.5em;
}
.--hidden {
  display: none;
}

.topbar__nav-item__dropdown-link {
  padding: 0.5em;
  padding-left: 0.7em;
  padding-bottom: 0.2em;
  border-left: var(--neutral-700) 3px solid;
  margin-bottom: 0.3em;
  text-align: left;
}
.orders-scorecards {
  width: 100%;
  height: 35%;
  display: flex;
  /* background-color: var(--neutral-200); */
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--neutral-500) solid 1px;

  .__card {
    /* background-color: var(--neutral-200); */
    height: 70%;
    width: 15%;
    text-align: center;
    .__number {
      font-size: xx-large;
    }
    .__title {
      font-size: x-large;
    }
  }
}

.orders-summary {
  display: flex;
  height: 100%;
  /* background-color: var(--neutral-300); */
}
.orders-view {
  --products-table-height: 60vh;
  display: flex;
  margin: auto 0rem;
  padding: 1rem;
  /* background-color: var(--neutral-300); */
  width: 100%;
  height: var(--products-table-height);
  justify-content: space-between;
}
.orders-list {
  width: 15vw;
  height: 100%;
  border: var(--neutral-500) solid 1px;
  overflow-y: scroll;
  background-color: var(--neutral-300);
}
.orders-view__list-label {
  text-align: center;
  font-weight: bold;
}
.orders-list__item {
  height: calc(var(--products-table-height) / 5.25);
  margin: 0.3rem;
  padding: 0.2rem;
  text-align: center;
  background-color: var(--neutral-200);

  .__title {
    margin: 0;
    font-size: larger;
  }
  .__id {
    margin: 0;
    font-size: medium;
    font-style: italic;
  }
}
.orders-list__item--active {
  background-color: var(--neutral-100);
  border: var(--neutral-700) solid 1px;
}

.products-view {
  margin: 0.5rem;
  height: calc(var(--products-table-height) * 0.95);
  width: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* border: var(--neutral-700) solid 0.5rem; */
  /* background-color: var(--neutral-700); */
}

.products-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.3rem;
  /* background-color: var(--neutral-700); */

  thead th {
    position: sticky;
    top: 0;
    background-color: var(--neutral-300);
    padding-bottom: 1rem;
  }
  tbody tr {
    height: calc(var(--products-table-height) / 6.75);
    background-color: var(--neutral-200);
    /* border-bottom: 0.3rem var(--neutral-400) solid; */
    text-align: center;
  }
}
