{% extends 'layout.html' %}
{% block content%}
<section class="orders-scorecards">
    <div class="__card">
        <p class="__number">{{ counts["open"] }}</p>
        <p class="__title">Open</p>
    </div>
    <div class="__card">
        <p class="__number">{{ counts["procurement"] }}</p>
        <p class="__title">Procuring</p>
    </div>
    <div class="__card">
        <p class="__number">{{ counts["production"] }}</p>
        <p class="__title">In Production</p>
    </div>
</section>
<section class="orders-summary">
    <div class="orders-view">
        <div class="orders-list">
            {% for o in orders %}
            <div class="__item">
                <p class="__title">{{ o["name"] }}</p>
                <p class="__id">{{ o["orderId"] }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="products-view">
            <table class="products-table">
                <thead>
                    <tr>
                        <th>(icon)</th>
                        <th>Product Name</th>
                        <th>Requested</th>
                        <th>Allocated</th>
                        <th>Unfulfilled</th>
                        <th>Available</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>{{ p["name"] }}</td>
                        <td>{{ p["requested"] }}</td>
                        <td>{{ p["allocated"] }}</td>
                        <td>{{ p["unfulfilled"] }}</td>
                        <td>{{ p["available"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</section>
{% endblock %}