{% extends 'layout.html' %}
{% block content%}
<section class="orders-scorecards">
    <div class="__card">
        <p class="__number">{{ counts["open"] }}</p>
        <p class="__title">Open</p>
    </div>
    <div class="__card">
        <p class="__number">{{ counts["procurement"] }}</p>
        <p class="__title">Procuring</p>
    </div>
    <div class="__card">
        <p class="__number">{{ counts["production"] }}</p>
        <p class="__title">In Production</p>
    </div>
</section>
<section class="orders-summary">
    <div class="orders-view">
        <div class="orders-list">
            {% for o in orders %}
            <div class="__item">
                <p class="__title">{{ o["name"] }}</p>
                <p class="__id">{{ o["orderId"] }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="products-view">
            <table class="products-table">
                <thead>
                    <tr>
                        <th>(icon)</th>
                        <th>Product Name</th>
                        <th>Requested</th>
                        <th>Allocated</th>
                        <th>Unfulfilled</th>
                        <th>Available</th>
                    </tr>
                </thead>
                <tbody>
                <!-- TODO: use a for loop to iter through api here -->
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>55</td>
                        <td>45</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Stocked Product</td>
                        <td>100</td>
                        <td>90</td>
                        <td>10</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- TODO: add my svg icons -->
                            <img>
                        </td>
                        <td>My Unstocked Product</td>
                        <td>100</td>
                        <td>100</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</section>
{% endblock %}