<section class="order-detail__container" hx-target="this" hx-swap="outerHTML">
    <div class="order-detail__heading">Details of Order: <em>{{ order.name }}</em></div>
    <div class="order-detail__row">
        <span class="order-form__label">Order ID</span>
        <span>{{ order.orderid }}</span>
        <span class="order-form__label">Status</span>
        <span>{{ order.status }}</span>
    </div>

    <div class="order-detail__section-split">Products on Order:</div>
    {% for p in products %}
    <div class="order-detail__row">
        <span class="order-form__label" style="font-weight:600;">{{ p.name }}</span>
    </div>
    <div class="order-detail__row">
        <span class="order-form__label">Ordered</span>
        <span>{{ p.requested }}</span>
        <span class="order-form__label">Allocated</span>
        <span>{{ p.allocated }}</span>
    </div>
    {% endfor %}
    <div class="order-detail__row order-detail__row--buttons" hx-replace-url>
        <button hx-replace-url="true" hx-get="/orders">Back To Orders</button>
        <button hx-get="/orders/{{ order.orderid }}/edit">Edit Order</button>
    </div>
</section>